<form class="form-horizontal" action = '/team/<%=teams.id%>/edit' method = 'post'>

    <fieldset>

    <!-- Form Name -->
    <legend>Edit Your New Team!</legend>

    <!-- Text input-->
    <div >
      <label for="name">Edit Team Name!</label>
      <div class="div">
      <input id="name" name="name" type="text" value="<%= singleData.name%>" class="form-control input-md">

      </div>
    </div>



    <!-- Button -->
    <div class="div">
      <label for="edit"></label>
      <div>
        <button id="create" name="create" action = 'post' class="create-button">Edit</button>
      </div>
    </div>

    <% pokemonData.forEach((pokemon) => {%>
      <div><img src= "<%= allData.sprites.front_default %>"></div>

      <h2>name: <%= pokemon.forms[0].name %> </h2><br>
      <h3>type: <%= pokemon.types[0].type.name%></h3>
      <h3>  <%= pokemon.stats[0].stat.name %> : <%= pokemon.stats[0].base_stat %></h3>
      <h3><%= pokemon.stats[1].stat.name %> : <%= pokemon.stats[1].base_stat %> </h3>
      <h3><%= pokemon.stats[2].stat.name %> : <%= pokemon.stats[2].base_stat %> </h3>
      <h3><%= pokemon.stats[3].stat.name %> : <%= pokemon.stats[3].base_stat %> </h3>
      <h3><%= pokemon.stats[4].stat.name %> : <%= pokemon.stats[4].base_stat %> </h3>
      <h3><%= pokemon.stats[5].stat.name %> : <%= pokemon.stats[5].base_stat %> </h3>

    <%})%>
</form>


    </fieldset>
